# Series

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
obj = pd. Series([1, 3, 5, -7, 9])

In [4]:
obj

0    1
1    3
2    5
3   -7
4    9
dtype: int64

In [5]:
obj.values

array([ 1,  3,  5, -7,  9])

In [6]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
obj2 = pd.Series([2,4,6,-8,10], index=['a', 'b', 'c', 'd', 'e'])

In [8]:
obj2

a     2
b     4
c     6
d    -8
e    10
dtype: int64

In [9]:
obj2['a']

2

In [10]:
obj2[['b', 'c', 'd']]

b    4
c    6
d   -8
dtype: int64

In [11]:
obj2 * 5

a    10
b    20
c    30
d   -40
e    50
dtype: int64

In [12]:
obj2[obj2 > 0]

a     2
b     4
c     6
e    10
dtype: int64

In [13]:
obj2[obj2 < 0]

d   -8
dtype: int64

In [14]:
obj2[obj2 > 8]

e    10
dtype: int64

In [15]:
import numpy as np

In [16]:
np.exp(obj2)

a        7.389056
b       54.598150
c      403.428793
d        0.000335
e    22026.465795
dtype: float64

In [17]:
population_dict = {'Nordrhein-Westfalen': 17933000, 'Bayern': 13077000, 
                   'Baden-Württemberg': 11070000, 'Niedersachsen': 7982000}

In [18]:
obj3 = pd.Series(population_dict)

In [19]:
obj3

Nordrhein-Westfalen    17933000
Bayern                 13077000
Baden-Württemberg      11070000
Niedersachsen           7982000
dtype: int64

In [20]:
obj3['Bayern']

13077000

In [21]:
obj3['Bayern':'Niedersachsen']

Bayern               13077000
Baden-Württemberg    11070000
Niedersachsen         7982000
dtype: int64

In [22]:
states = ['Berlin','Bayern', 'Niedersachsen', 'Baden-Württemberg']

In [23]:
obj4 = pd.Series(population_dict, index=states)

In [24]:
obj4

Berlin                      NaN
Bayern               13077000.0
Niedersachsen         7982000.0
Baden-Württemberg    11070000.0
dtype: float64

In [25]:
pd.isnull(obj4)

Berlin                True
Bayern               False
Niedersachsen        False
Baden-Württemberg    False
dtype: bool

In [26]:
pd.notnull(obj4)

Berlin               False
Bayern                True
Niedersachsen         True
Baden-Württemberg     True
dtype: bool

In [27]:
obj4.isnull()

Berlin                True
Bayern               False
Niedersachsen        False
Baden-Württemberg    False
dtype: bool

In [28]:
obj3

Nordrhein-Westfalen    17933000
Bayern                 13077000
Baden-Württemberg      11070000
Niedersachsen           7982000
dtype: int64

In [29]:
obj4

Berlin                      NaN
Bayern               13077000.0
Niedersachsen         7982000.0
Baden-Württemberg    11070000.0
dtype: float64

In [30]:
obj3 + obj4

Baden-Württemberg      22140000.0
Bayern                 26154000.0
Berlin                        NaN
Niedersachsen          15964000.0
Nordrhein-Westfalen           NaN
dtype: float64

In [31]:
obj4.name = 'population'

In [32]:
obj4.index.name = 'state'

In [33]:
obj4

state
Berlin                      NaN
Bayern               13077000.0
Niedersachsen         7982000.0
Baden-Württemberg    11070000.0
Name: population, dtype: float64

### DataFrame

In [34]:
areacode_dict = {'Nordrhein-Westfalen': 3, 'Bayern': 8, 'Baden-Württemberg': 7, 'Niedersachsen': 3 }

In [35]:
areacode = pd.Series(areacode_dict)

In [36]:
areacode

Nordrhein-Westfalen    3
Bayern                 8
Baden-Württemberg      7
Niedersachsen          3
dtype: int64

In [37]:
population = obj3

In [38]:
states = pd.DataFrame({'population': population, 'areacode': areacode})

In [39]:
states

                     population  areacode
Nordrhein-Westfalen    17933000         3
Bayern                 13077000         8
Baden-Württemberg      11070000         7
Niedersachsen           7982000         3

In [40]:
states.index

Index(['Nordrhein-Westfalen', 'Bayern', 'Baden-Württemberg', 'Niedersachsen'], dtype='object')

In [41]:
states.columns

Index(['population', 'areacode'], dtype='object')

In [42]:
states['areacode']

Nordrhein-Westfalen    3
Bayern                 8
Baden-Württemberg      7
Niedersachsen          3
Name: areacode, dtype: int64

In [43]:
data = [{'x': i, 'y': 4 * i}
       for i in range(4)]

In [44]:
pd.DataFrame(data)

   x   y
0  0   0
1  1   4
2  2   8
3  3  12

In [45]:
pd.DataFrame(population, columns=['population'])

                     population
Nordrhein-Westfalen    17933000
Bayern                 13077000
Baden-Württemberg      11070000
Niedersachsen           7982000

In [46]:
pd.DataFrame({'population': population, 'areacode': areacode})

                     population  areacode
Nordrhein-Westfalen    17933000         3
Bayern                 13077000         8
Baden-Württemberg      11070000         7
Niedersachsen           7982000         3

In [47]:
pd.DataFrame(np.random.rand(3, 2), 
            columns=['a', 'b'],
            index=['x', 'y', 'z'])

          a         b
x  0.811815  0.630333
y  0.480516  0.370507
z  0.742164  0.799571

In [49]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])

In [50]:
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [51]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0